
PLATFORM_ROOT = $(SRCROOT)/../$(IDRIVE_PLATFORM_NAME)
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
SWIFT_OBJC_BRIDGING_HEADER = $(SRCROOT)/Bridging-Header.h
INFOPLIST_FILE = $(PLATFORM_ROOT)/Xcode/Info.plist
CODE_SIGN_ENTITLEMENTS = $(PLATFORM_ROOT)/Xcode/Application.entitlements
PRODUCT_BUNDLE_IDENTIFIER = com.idrive.$(IDRIVE_APPLICATION_NAME)
